.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */

    padding-top: 80px;
}

.gallery-item {
    border: 1px solid #3f3234;
    border-radius: 10px;
    padding: 50px;
    margin: 50px;

    background-color: #161012;
}

.gallery-item img {
    width: 840px;
}
