/* menu.css */

.menu {
    background-color: rgb(63, 31, 53);
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    border-radius: 5px;
}

.menu a {
    font-family: "Labrada-Regular";
    font-size: 16px;

    cursor: pointer;
    text-decoration: none;
    color: rgb(143, 112, 143);
}

.menu a:hover {
    color: #ecc4e2;
}

.menu a.active {
    color: #cfa3c1;
}
